@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* MAIN INDEX */
.main-index {
  /* -- SECCION PRODUCTOS - INDEX --  */ }
  .main-index .portada-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .main-index .portada-index h2 {
      position: absolute;
      z-index: 10;
      bottom: 60px;
      margin: 2px;
      padding: 0.5rem;
      text-shadow: 1px 1px 5px black;
      text-align: center; }
    .main-index .portada-index img {
      margin: 0.5rem;
      width: 800px;
      height: 300px;
      border-radius: 30px;
      opacity: 0.7; }
  .main-index h3 {
    text-decoration: underline;
    text-align: center;
    font-size: larger; }
  .main-index .contenedor-productos {
    display: flex;
    justify-content: center; }
    .main-index .contenedor-productos .nuestros-productos {
      width: 900px;
      height: auto;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      justify-items: center;
      gap: 5px; }
      .main-index .contenedor-productos .nuestros-productos .producto {
        background-color: rebeccapurple;
        margin: 0.5rem;
        padding: 5px;
        width: 100px;
        height: 100px; }

/* -- BODY -- */
body {
  font-family: 'Agdasima', sans-serif;
  background-color: #e6e6e6; }

/* -- HEADER -- */
header {
  background-color: #aba6a6;
  margin: 0;
  padding: 0.5rem;
  border-bottom: 3px solid #2e2e2e;
  /* -- HEADER DE LA PÁGINA -- */
  /* -- FIN BARRA DE BUSQUEDA -- */
  /* -- MENÚ DE NAVEGACIÓN -- */ }
  header h1 {
    color: #3e2e06;
    padding: 0.5rem; }
  header hr {
    margin-bottom: 0.5rem; }
  header .titulo-header {
    display: flex;
    /* -- BARRA DE BUSQUEDA -- */ }
    header .titulo-header .barra-busqueda {
      width: 100px;
      height: 65px; }
      header .titulo-header .barra-busqueda .barra-busqueda-dos {
        padding: 10px;
        position: absolute;
        right: 20px; }
        header .titulo-header .barra-busqueda .barra-busqueda-dos input {
          outline: none;
          height: 40px;
          width: 0;
          padding: 0 15px;
          color: black;
          border-radius: 50px;
          font-size: 15px;
          border: 1px solid black;
          transition: all .7s ease; }
        header .titulo-header .barra-busqueda .barra-busqueda-dos .btn {
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          height: 60px;
          background-color: black;
          line-height: 60px;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          transition: .5s; }
          header .titulo-header .barra-busqueda .barra-busqueda-dos .btn i {
            font-size: 25px;
            color: white;
            line-height: 60px;
            transition: all .7s ease; }
        header .titulo-header .barra-busqueda .barra-busqueda-dos .btn:hover {
          background-color: #2e2e2e; }
        header .titulo-header .barra-busqueda .barra-busqueda-dos img {
          object-fit: none; }
      header .titulo-header .barra-busqueda .barra-busqueda-dos:hover input {
        width: 350px; }
      header .titulo-header .barra-busqueda .barra-busqueda-dos:hover i {
        transform: rotate(-360deg); }
  header .menu-nav ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menu-nav ul li {
      padding: 0.5rem;
      list-style: none;
      font-size: larger; }
      header .menu-nav ul li a {
        text-decoration: none;
        text-shadow: 1px 1px 3px #181717;
        color: black; }
      header .menu-nav ul li a:hover {
        color: #373131;
        text-decoration: underline; }

/* -- MAIN -- */
/* -- FOOTER -- */
.pie-pagina {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0; }
  .pie-pagina h4, .pie-pagina p {
    color: white; }
  .pie-pagina .icons i {
    padding: 0 5px 0 5px;
    color: white;
    transition: transform .3s ease; }
  .pie-pagina .icons i:hover {
    transform: scale(1.2);
    transition: .3s ease; }
