/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//IMPORTS HERRAMIENTAS
@import "herramientas/mixin";
@import "herramientas/extend";
@import "herramientas/variables";

//IMPORTS HTMLs
@import "pages/contacto.scss";
@import "pages/sobrenosotros.scss";
@import "pages/carrito.scss";

html{
    scroll-behavior: smooth;
}
/* -- BODY -- */ 
body{
    font-family: 'Agdasima', sans-serif;
    background-color: rgb(230, 230, 230);
    height: 100vh;
}

/* --- HEADER --- */
header{
    background-color: rgb(171, 166, 166);
    @include marypad (0, .5rem);
    border-bottom: 3px solid $color-border;

    h1{
        color: $color-h1;
        padding: .5rem;
    }
    hr{
        margin-bottom: .5rem;
    }

    .titulo-header{
        display: flex;
        /* -- SEARCH BAR -- */
        .barra-busqueda{
            @include wyh (100px, 65px);
            .barra-busqueda-dos{
                padding: 10px;
                position: absolute;
                right: 20px;
                input{
                    outline: none;
                    height: 40px;
                    width: 0;
                    padding: 0 15px;
                    color: black;
                    border-radius: 50px;
                    font-size: 15px;
                    border: 1px solid rgb(0, 0, 0);
                    transition: all .7s ease;
                }
                .btn{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 60px;
                    height: 60px;
                    background-color: black;
                    line-height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    transition: .5s;
                    i{
                        font-size: 25px;
                        color: white;
                        line-height: 60px;
                        transition: all .7s ease;
                    }
                }
                .btn:hover{
                    background-color:rgb(46, 46, 46) ;
                }
                img{
                    object-fit: none;
                }
            }
            .barra-busqueda-dos:hover input{
                width: 350px;
            }
            .barra-busqueda-dos:hover i{
                transform: rotate(-360deg) ;
            }
        }
    }

    /* -- NAV MENU -- */
    .menu-nav{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding: .5rem;
                list-style: none;
                font-size: 22px;
                a{
                    text-decoration: none;
                    text-shadow: 1px 1px 7px rgb(24, 23, 23);
                    color: black;
                }
                a:hover{
                    color: rgb(55, 49, 49);
                    text-decoration: underline;
                }
            }

            /* -- dropdown menu of TIENDA -- */
            .dropdown-menu{
                display: none;
                position: absolute;
                background-color: rgb(230, 230, 230);
                border: 1px solid #ccc;
                z-index: 15;
                padding: 5px;
                @include wyh (fit-content, auto);
                font-size: 16px;
            }
            .dropdown:hover .dropdown-menu{
                display: block;
                z-index: 15;
            }
            .dropdown:hover .flecha-abajo{
                transform: rotate(180deg);
                transition: .4s ease;
            }
            .flecha-abajo{
                transition: .4s ease;
            }
            /* -- shopping cart position -- */
            .carrito-nav{
                position: absolute;
                right: 80px;
            }
        }
        
    }
}

/* --- MAIN --- */
main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;

    /* -- FRONTPAGE INDEX -- */
    .portada-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h2{
            position: absolute;
            z-index: 10;
            bottom: 60px;
            @include marypad (2px, 0.5rem);
            text-shadow: 1px 1px 8px goldenrod;
        }
        img{
            margin: 0.5rem;
            @include wyh (800px, 300px);
            border-radius: 30px;
            opacity: 0.7;
        }
    }

    /* -- SOCIAL NETWORKS ASIDE -- */
    .aside-redes{
        display: inline-block;
        border: 3px solid $color-border;
        border-radius: 8px;
        @include marypad (0.5rem, 0.5rem);
        background-color: rgb(190, 190, 190);
        box-shadow: 2px 3px 10px 0 black;
        height: fit-content;
        position: sticky;
        top: 10px;
        h3{
            text-decoration: underline;
            font-size: 20px;
        }
        h4, p{
            font-size: 20px;
        }
        .lista-redes{
            list-style: none;
            li{
                margin: 8px 0 8px 0;
                a{
                    color: black;
                    font-size: 14px;
                    i:hover{
                        font-style: italic;
                    }
                }
                a:hover{
                    color: rgb(43, 41, 41);
                }
            }
        }
        .lista-contacto{
            list-style: none;
            li{
                margin: 8px 0 8px 0;
                color: black;
                font-size: 14px;
                i{
                    padding: 2px;
                }
            }
        }
    }

    /* -- TIENDA (DISTRIBUCION DE LOS PRODUCTOS) -- */
    .columna-medio{
        hr{
            margin: 1rem;
        }
        .seccion-productos{
            h3{
                text-align: center;
                font-size: 22px;
                color: $color-h1;
            }
            .contenedor-productos{
                display: flex;
                justify-content: center;
                .nuestros-productos{
                    @include wyh (900px, auto);
                    display: grid;
                    grid-template-columns: repeat(3, 300px);
                    justify-items: center;
                    gap: 5px;
                    .producto{
                        background-color: rgb(190, 190, 190);
                        outline: 3px solid $color-border;
                        border-radius: 8px;
                        box-shadow: 2px 3px 10px 0 black;
                        @include marypad (0.5rem, 0);
                        @include wyh (200px, 210px);
                        position: relative;
                        del{
                            color: rgb(219, 21, 21);
                        }
                        img{
                            @include wyh (200px, auto);
                            border-radius: 8px;
                            transition: .5s ease;
                        }
                        img:hover{
                            transform: scale(1.1);
                            transition: .5s ease;
                        }
                        p{
                            padding-left: 4px;
                        }
                        a{
                            border: 2px solid $color-border;
                            border-radius: 4px;
                            padding: 5px;
                            position: absolute;
                            bottom: 10px;
                            left: 154px;
                            background-color: whitesmoke;
                            color: rgb(0, 0, 0);
                        }
                        a:hover{
                            background-color: black;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
    }

    /* -- BUTTONS -- */
    .botones{
        position: relative;

        /* -- BUTTON TO GO BACK UP -- */
        .flecha-arriba{
            position: absolute;
            bottom: 15px;
            right: 165px;
            transition: .2s ease;
            a{
                img{
                    @include wyh (55px, auto);
                }
            }
        }
        .flecha-arriba:hover{
            transform: scale(1.1);
            transition: .3s ease;
        }

        /* -- WHATSAPP BUTTON -- */
        .boton-wa{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            padding-left: 3px;
            position: fixed;
            bottom: 68px;
            right: 50px;
            z-index: 25;
            @include wyh (80px, 80px);
            background-color: green;
            border-radius: 50px;
            box-shadow: 2px 3px 10px 0 black;
            transition: .3s ease;
            a{
                z-index: 30;
                color: black;
                .icono-wa{
                    font-size: 60px;
                    line-height: 0;
                }
            }
        }
        .boton-wa:hover{
            background-color: rgb(2, 95, 2);
            transform: scale(1.1);
            transition: .3s ease;
            a{
                color: white;
            }
        }
    }
}


/* --- FOOTER --- */
.pie-pagina{
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    h4, p{
        color: white;
        font-size: 18px;
    }
    .icons{
        i{
            padding: 0 5px 0 5px;
            transition: transform .3s ease;
        }
        i:hover{
            transform: scale(1.2);
            transition: .3s ease;
        }
    }
}