/* MAIN INDEX */

.main-index{
    .portada-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h2{
            position: absolute;
            z-index: 10;
            bottom: 60px;
            @include marypad (2px, 0.5rem);
            text-shadow: 1px 1px 5px black;
            text-align: center;
        }
        img{
            margin: 0.5rem;
            @include wyh (800px, 300px);
            border-radius: 30px;
            opacity: 0.7;
        }
    }
    
    /* -- SECCION PRODUCTOS - INDEX --  */
    h3{
        text-decoration: underline;
        text-align: center;
        font-size: larger;
    }
    .contenedor-productos{
        display: flex;
        justify-content: center;
        
        .nuestros-productos{
            @include wyh (900px, auto);
            display: grid;
            grid-template-columns: repeat(3, 300px);
            justify-items: center;
            gap: 5px;
            .producto{
                background-color: rebeccapurple;
                @include marypad (0.5rem, 5px);
                @include wyh (100px, 100px);
            }
        }
    }
    

}