//MAIN DE SOBRE NOSOTROS
.main-sobrenosotros{
    .seccion-sobrenosotros{
        h3{
            text-align: center;
            font-size: 22px;
            color: $color-h1;
        }
        p{
            font-size: 19px;
            padding: 0 4px 0 4px;
            text-indent: 8px;
        }
    }
}